In [4]:
import nfl_data_py as nfl
import pandas as pd
import numpy as np

In [42]:
schedule = nfl.import_schedules([2023])
data = nfl.import_pbp_data([2023])

2023 done.
Downcasting floats.

In [104]:
class GameData:
    def __init__(self, team, game):
        self.team = team
        self.stats = {}
        self.game = game
        self.id = game['game_id'][0]

        self.is_home = team == game['home_team'][0]
        self.stats['team'] = team
        self.stats['id'] = self.id
        self.initialize_stats()

    
    def initialize_stats(self):
        winner = self.game['home_team'][0] if self.game['home_score'][0] > self.game['away_score'][0] else self.game['away_team'][0]
        self.stats['won_game'] = winner == self.team
        self.stats['points'] = self.game['home_score'][0] if self.is_home else self.game['away_score'][0]
        self.stats['opp_points'] = self.game['home_score'][0] if not self.is_home else self.game['away_score'][0]
        for index, play in self.game.iterrows():
            self.add_stats_from_play(play)

    def add_stats_from_play(self, play):
        team = play['possession_team']

        if team == self.team:
            self.add_offensive_stats(play)
        else:
            self.add_defensive_stats(play)
    
    def add_offensive_stats(self, play):
        yards_gained = play['yards_gained']
        play_type = play['play_type']

        if not np.isnan(yards_gained):
            self.stats['yards'] = self.stats.get('yards', 0) + yards_gained

        if play_type == 'field_goal':
            self.stats['field_goals_attempted'] = self.stats.get('field_goals_attempted', 0) + 1
            made = play['field_goal_result'] == 'made'
            self.stats['field_goals_made'] = self.stats.get('field_goals_made', 0) + made
        
        if play['interception'] == 1 or play['fumble_lost'] == 1:
            self.stats['offensive_turnovers'] = self.stats.get('offensive_turnovers', 0) + 1

    def add_defensive_stats(self, play):
        yards_gained = play['yards_gained']
        play_type = play['play_type']

        if not np.isnan(yards_gained):
            self.stats['opp_yards'] = self.stats.get('opp_yards', 0) + yards_gained

        if play['interception'] == 1 or play['fumble_lost'] == 1:
            self.stats['defensive_turnovers'] = self.stats.get('defensive_turnovers', 0) + 1

        # [None, 'kickoff', 'run', 'pass', 'punt', 'no_play', 'extra_point', 'field_goal', 'qb_kneel', 'qb_spike']
    
    def __str__(self):
        return self.id
    
    def __repr__(self):
        return self.id

In [105]:
game_data_arr = []

for game_id in data['game_id'].unique():
    if schedule[schedule['game_id'] == game_id]['game_type'].values[0] == 'REG':
        if len(game['possession_team'].unique()) == 0:
            # this means the game doesn't have PBP data yet
            continue

        game = data[data['game_id'] == game_id].reset_index()

        home_team = game['home_team'][0]
        away_team = game['away_team'][0]

        home_game = GameData(home_team, game)
        away_game = GameData(away_team, game)
        game_data_arr.append(home_game)
        game_data_arr.append(away_game)

In [106]:
df[df['team'] == 'ARI']

,team,id,won_game,points,opp_points,opp_yards,yards,offensive_turnovers,field_goals_attempted,field_goals_made,defensive_turnovers
1,ARI,2023_01_ARI_WAS,False,16,20,248.0,210.0,2.0,3.0,3.0,3.0
54,ARI,2023_02_NYG_ARI,False,28,31,439.0,381.0,NaN,3.0,2.0,1.0
72,ARI,2023_03_DAL_ARI,True,28,16,416.0,400.0,NaN,3.0,3.0,1.0
97,ARI,2023_04_ARI_SF,False,16,35,395.0,362.0,NaN,1.0,1.0,NaN
134,ARI,2023_05_CIN_ARI,False,20,34,380.0,294.0,3.0,NaN,NaN,1.0
157,ARI,2023_06_ARI_LA,False,9,26,382.0,345.0,3.0,3.0,3.0,NaN
187,ARI,2023_07_ARI_SEA,False,10,20,318.0,249.0,1.0,2.0,1.0,2.0
214,ARI,2023_08_BAL_ARI,False,24,31,268.0,312.0,2.0,1.0,1.0,NaN
245,ARI,2023_09_ARI_CLE,False,0,27,326.0,58.0,3.0,NaN,NaN,NaN
272,ARI,2023_10_ATL_ARI,True,25,23,254.0,352.0,1.0,4.0,4.0,NaN
301,ARI,2023_11_ARI_HOU,False,16,21,419.0,319.0,1.0,1.0,1.0,4.0
344,ARI,2023_12_LA_ARI,False,14,37,457.0,294.0,NaN,1.0,0.0,1.0
361,ARI,2023_13_ARI_PIT,True,24,10,317.0,282.0,NaN,1.0,1.0,1.0
442,ARI,2023_15_SF_ARI,False,29,45,406.0,436.0,2.0,3.0,3.0,NaN
449,ARI,2023_16_ARI_CHI,False,16,27,726.0,NaN,NaN,NaN,NaN,1.0
481,ARI,2023_17_ARI_PHI,True,35,31,726.0,NaN,NaN,NaN,NaN,2.0
540,ARI,2023_18_SEA_ARI,False,20,21,795.0,NaN,NaN,NaN,NaN,NaN

In [108]:
df = pd.DataFrame([game.stats for game in game_data_arr])
df = df.drop(columns=['id'])

aggregated = df.groupby('team').mean()
aggregated

,won_game,points,opp_points,opp_yards,yards,offensive_turnovers,field_goals_attempted,field_goals_made,defensive_turnovers
team,,,,,,,,,
ARI,0.235294,19.411765,26.764706,427.764706,306.714286,2.000000,2.166667,1.916667,1.700000
ATL,0.411765,18.882353,21.941176,386.000000,327.500000,1.909091,2.333333,2.083333,2.090909
BAL,0.764706,28.411765,16.470588,343.647059,372.333333,1.900000,2.571429,2.214286,2.384615
BUF,0.647059,26.529412,18.294118,323.764706,380.687500,2.076923,2.076923,1.692308,2.214286
CAR,0.117647,13.882353,24.470588,336.352941,271.214286,2.000000,2.000000,1.714286,1.300000
CHI,0.411765,21.176471,22.294118,385.823529,318.071429,2.400000,2.416667,2.250000,2.416667
CIN,0.529412,21.529412,22.588235,409.705882,322.200000,1.333333,1.933333,1.600000,2.000000
CLE,0.647059,23.294118,21.294118,309.470588,337.066667,2.428571,2.466667,2.266667,2.384615
DAL,0.705882,29.941176,18.529412,345.647059,369.733333,1.625000,2.357143,2.357143,2.071429
DEN,0.470588,21.000000,24.294118,406.235294,298.733333,1.909091,2.142857,1.928571,2.076923
DET,0.705882,27.117647,23.235294,381.529412,396.533333,2.100000,2.375000,2.125000,1.785714
GB,0.529412,22.529412,20.588235,382.647059,338.400000,1.777778,1.933333,1.600000,1.538462
HOU,0.588235,22.176471,20.764706,382.588235,353.857143,1.625000,2.750000,2.416667,1.600000
IND,0.529412,23.294118,24.411765,407.058824,340.000000,1.888889,2.538462,2.000000,1.750000
JAX,0.529412,22.176471,21.823529,400.823529,342.428571,2.083333,2.307692,1.846154,2.285714
KC,0.647059,21.823529,17.294118,327.823529,355.400000,1.846154,1.928571,1.785714,1.500000
LA,0.588235,23.764706,22.176471,376.764706,364.333333,1.444444,3.071429,2.285714,1.538462
LAC,0.294118,20.352941,23.411765,401.411765,329.600000,1.818182,1.923077,1.846154,1.833333
LV,0.470588,19.529412,19.470588,373.764706,279.800000,2.083333,2.166667,1.833333,2.100000
MIA,0.647059,29.176471,23.000000,362.647059,404.800000,1.916667,2.100000,1.700000,2.230769
MIN,0.411765,20.235294,21.294118,382.705882,338.400000,2.153846,2.076923,1.615385,2.153846
NE,0.235294,13.882353,21.529412,326.588235,285.533333,1.714286,1.916667,1.250000,1.692308
NO,0.529412,23.647059,19.235294,369.176471,335.333333,1.545455,2.461538,1.923077,2.230769
NYG,0.352941,15.647059,23.941176,409.117647,263.866667,1.636364,1.785714,1.285714,2.909091
NYJ,0.411765,15.764706,20.882353,330.000000,262.333333,2.153846,2.666667,2.500000,3.100000
PHI,0.647059,25.470588,25.176471,390.352941,363.466667,1.916667,2.307692,2.153846,1.916667
PIT,0.588235,17.882353,19.058824,387.352941,294.533333,1.625000,2.076923,1.923077,2.142857
SEA,0.529412,21.411765,23.647059,428.588235,323.071429,1.555556,2.500000,2.000000,1.833333
SF,0.705882,28.882353,17.529412,345.705882,404.333333,2.250000,2.000000,1.727273,2.000000
TB,0.529412,20.470588,19.117647,398.235294,315.214286,1.400000,2.083333,1.916667,2.000000
TEN,0.352941,17.941176,21.588235,382.352941,293.857143,1.454545,2.333333,2.250000,1.307692
WAS,0.235294,19.352941,30.470588,427.529412,333.785714,2.181818,1.692308,1.307692,2.166667